*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111111;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: #1f1f1f;
    padding: 20px 40px;
    border-radius: 8px;
    color: white;
}
button{
    display: flex;
    justify-content: center;
    background-color: #480fba;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    text-align: center;
}
.hidden{
    display: none;
}